<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Page Object Model With Page Factories">

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

	<test name="Sign In Test">
		<classes>
			<class name="com.ssg.testcases.SignInTest" />
		</classes>
	</test>
	<test name="Flight Search Test">
				<classes>
			<class name="com.ssg.testcases.FlightSearchTest" />
		</classes>
	</test> 


	
</suite> 
